.main-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subheading{
    font-family: "Vollkorn", serif;
    font-weight: 500;
    font-size: 2rem;
}

.text{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 1rem;
}
.subheading>span{
    color: #D81E5B;
}

/* Ticket display */

.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5% 0% 10% 5%;  
    gap: 2%;
}

.ticket {
    width: 80%;
    height: 240px;
    position: relative;
    margin: 0 auto;
}

.ticket:hover{
    background-color: rgba(88, 164, 176, 0.6);
    cursor:pointer;
}


/* Ticket left side */
.ticket-left{
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: 2%;
}

.calender{
    position: absolute;
    margin-left: -26%;
    width: 20%;
    height: 70px;
    background-color: #58A4B0;
    padding: 4%;
    cursor: default;
}

.calender>div{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #F4F2F3;
}

/* Ticket right side */
.ticket-right{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    margin-top: 5%;
    margin-left: 40%;
}


.ticket-right>h4{
    color:#D81E5B;
    font-family: "Vollkorn", serif;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.date{
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
}

.details{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 0.8rem;
}

/* Media Quiries */



/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px){

    .grid-container{
        display: block; 
        gap: 1%;
    }

        .subheading {
            font-family: "Vollkorn", serif;
            font-weight: 500;
            font-size: 1.5rem;
        }


    .ticket {
        height: 150px;
        width: 70%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        margin-bottom: 5%;
        
        
    }
         .ticket-left {
             
             margin-left: -50%;
         }

    .ticket-left>img{
        width: 150px;
        margin-left: -20%;
    }

    .ticket-right{
        margin-left: 5%;
        padding-left: 50%;
        gap: 5%;
    }

    .ticket-right>h4{
        font-weight: 500;
        font-size: 0.8rem;
       
    }
    
    .date{
        font-weight: 400;
        font-size: 0.4rem;
    }
    
    p.details{
        font-weight: 200;
        font-size: 0.5rem;
       
    }

    .text{
        font-weight: 200;
        font-size: 0.8rem;
        padding-left: 20%;
        padding-right: 20%;
        text-align: center;
        
    }

    .calender{
        display:none;
    }
    

    .ticket:hover{
        background-color: #fff;
        cursor: default;
     }
}


